.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  line-height: 106%;
  color: #ffffff;
  width: 100%;
  font-weight: 700;

  &.primary {
    background-image: $btn-color;
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    height: 6.6rem;
    max-width: 260px;
    transition: $base-transition;

    &:hover{
        transform: scale(1.1);
    }
  }

  &.secondary {
    background: #41b7e9;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    height: 5.6rem;
    max-width: 180px;
  }

  &.tertiary {
    font-weight: 600;
    font-size: 15px;
    line-height: 107%;
    color: #1f2428;
    transition: $base-transition;

    // &:hover{
    //     color: $secondary-color;
    // }
  }

  &.disabled {
  }
}
