.tabs {
  &__header {
    display: flex;
  }

  &__btn {
   
    transition: $base-transition;
    width: 100%;
    cursor: pointer;

    &:hover {
        background: #f2f6fc;
    }

    &.active {
        background: #f2f6fc;
    }
  }

  &__content {
    display: none;
    padding: 16px;
    border: 1px solid #ccc;
    font-size: 16px;

    &.active {
      display: block;
    }
  }
}
