<header class="header">
    <div class="container header__wrap">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.svg" alt="">
            </a>
        </div>
        <nav class="nav js-burger" id="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="">Как покупать</a></li>
                <li class="nav__item"><a href="">Распродажи</a></li>
                <li class="nav__item"><a href="">Цены</a></li>
                <li class="nav__item"><a href="">Помощь</a></li>
                <li class="nav__item"><a href="">Бонусы</a></li>
                <li class="nav__item"><a href="">Блог</a></li>
                <li class="nav__item"><a href="">Магазины</a></li>
            </ul>
        </nav>
        <div class="header__btn">
            <button type="button" class="btn tertiary">Вход
                <span class="header__icon">
                    @@include('../svg-icon/user.html')
                </span>
            </button>
            <button type="button" class="btn primary">Связаться с нами</button>
        </div>
        <div class="burger js-burger-open">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>